<h2>Recipes</h2>
<section class="main-container" ng-repeat="list in $ctrl.listOfItems track by $index">
    <section class="recipe">
        <section class="results-header">
            <p>Recipe for: {{list.recipe.label}}</p>
            <section class="results-icons">
                <i directive class="fas fa-plus"></i>
                <i close-directive class="fas fa-minus"></i>
                <i class="fas fa-heart" ng-click="$ctrl.add(list);"></i>
            </section>
        </section>
        <section class="expandable">
            <section>
                <p>Diet: {{list.recipe.dietLabels[0]}}</p>
                <p>Servings: {{list.recipe.yield}}</p>
                <p>Link to recipe: {{list.recipe.url}}</p>
                <ul ng-repeat="ingredient in list.recipe.ingredientLines track by $index">
                    <li>{{ingredient}}</li>
                </ul>
            </section>
            <img id="recipe-image" src="{{list.recipe.image}}">
            
        </section>
    </section>
</section>