<section ng-repeat="list in $ctrl.listOfItems track by $index">
    <section>
        <p>Recipe for: {{list.recipe.label}}</p>
        <i class="fas fa-plus"></i>
        <i class="fas fa-heart" ng-click="$ctrl.add(list);"></i>
        <section>
            <section>
                <p>Diet: {{list.recipe.dietLabels[0]}}</p>
                <p>Servings: {{list.recipe.yield}}</p>
                <p>Link to recipe: {{list.recipe.url}}</p>
            </section>
            <img src="{{list.recipe.image}}">
        </section>
    </section>
</section>