
body {
    font-family: 'Lato', sans-serif;
    color: #5E5358;
    background-color: #fff5ee;

}

header {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    text-align: center;
}

h1 {
    font-size: 50pt;
    font-family: 'Patua One', cursive;

}

.sub-title {
    font-size: 15pt;
    font-family: 'Patua One', cursive;
}

.subtitle-span {
    color: #ed7d2d;
}


.favorites-page-btn {
    float: right;
    font-size: 60pt;
    color: #e4717a;
    margin-left: 2vw;
    margin-right: 2vh;
    cursor: pointer;
}

.search-center-container {  /*used for centring the search region*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.search-container { /* used for orienting search bar, "button", and advanced search option */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.carrot-arrow {  /* used for styling the search image. NOTE: requires hover over effect to alert user-- carrots aren't exactly synonymous with search */
    margin-top: 1vw;
    width: 165px;
    height: 90px;
    cursor: pointer;
}

label, select {  /* display none to emulate hidden page */
    
}

.search-bar {
    width: 55vw;
    height: 6vh;
    font-size: 20px;
    border: 2px solid #ed7d2d;
    text-align: center;
}



/* END HOME SEARCH PAGE */



.expandable {
    display: none;
}

h3 {
    text-align: center;
    font-size: 44px;
}

#main-favorite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#favorite {
    height: auto;
    width: 330px;
    border: 2px solid #ed7d2d;
    margin-bottom: 25px;
    padding: 25px;
    margin-right: 15px;
    background-color: #D6E3F8;
}

.favorite-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.favorite-info {

}

#link {
    word-wrap: break-word;
}

#favorite-image {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#delete-btn {
    float: right;
}


